.fixed-table-loading {
    display: none;
  }
.table {
    width: auto;
    margin: auto;
}
.table th{
    text-align: center;
    background-color: rgb(49, 224, 93);
}
.table td{
    padding: 5px;
}
.table_modal td{
    font-weight: bold;
    padding: 7px;
}
.nav_paging{
    padding-top: 20px;
}
